.container {
  padding: 0 2rem;
  display: grid;
}

.btnBack {
  text-decoration: none;
  color: black;
  background: white;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.3rem 1.25rem;
  font-size: 0.9em;
  box-shadow: 0px 2px 5px 1px hsl(0, 0%, 80%);
  border-radius: 2.5px;
}

.btnBack span {
  margin-left: 0.5rem;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.container h3 {
  font-size: 1.5em;
  margin-top: 2rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoSection {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.infoSection p {
  margin-top: 0.75rem;
}

.infoSection span {
  font-weight: 600;
}

.borderContainer {
  margin-top: 1rem;
}

.borderContainer p {
  font-size: 1.2em;
  font-weight: 600;
}

.borderCountriesContainer {
  display: flex;
  margin-top: 0.75rem;
  flex-wrap: wrap;
}

.borderCountry {
  background: white;
  padding: 0.25rem 1.5rem;
  box-shadow: 0px 2px 5px 1px hsl(0, 0%, 80%);
  font-size: 0.9em;
  border-radius: 2.5px;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .backContainer {
    grid-column: 1 / -1;
  }

  .imgContainer {
    width: 80%;
  }

  .infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
  }

  .infoContainer h3 {
    grid-column: 1 / -1;
  }

  .borderContainer {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
  }

  .borderContainer p {
    margin-right: 1rem;
  }
}
